@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
// font-family: 'Manrope', sans-serif;

////COLOR///////////////////////////////////////
//
$VeryDarkGrayishBlue: hsl(217, 19%, 35%); //
$DesaturatedDarkBlue: hsl(214, 17%, 51%); //
$GrayishBlue: hsl(212, 23%, 69%); //
$LightGrayishBlue: hsl(210, 46%, 95%); //
////////////////////////////////////////////////

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    left: -15em;
    color: white;
}

.attribution a {
    color: hsl(229, 25%, 63%);
}

body {
    width: 1440px;
    background-color: $VeryDarkGrayishBlue;
    font-family: "Manrope", sans-serif;
}

.container {
    width: 700px;
    height: auto;
    display: flex;
    position: relative;
    margin-left: 10em;
    margin-top: 10%;
    background-color: rgb(214, 214, 214);
    border-radius: 1em;
 
    .drawer {
        width: 30%;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        object-fit: cover;

    }

    .mep {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;

        .title {
            font-size: 1.3em;
            font-weight: 700;
            position: relative;
            left: 0.7em;
        }

        .text {
            padding: 1em;
        }

        .footer {
            display: flex;
            padding: 1em;

            .michelle {
                width: 3em;
                height: 3em;
                border-radius: 50%;
                border: 5px solid $VeryDarkGrayishBlue;
            }

            .foot_text {
                display: flex;
                flex-wrap: wrap;
                width: 70%;
                position: relative;
                left: 0.5em;

                h2 {
                    font-size: 1em;
                }
            }

            .share_logo {
                width: 40px;
                height: 40px;
                border-radius: 6px;
                background: #e8e8e8;
                box-shadow: 9px 9px 17px #b7b7b7, -9px -9px 17px #ffffff;
                padding: 0.7em;
                position: relative;
                right: -5em;
                top: 0em; 
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            &:hover {
                .share_bar {
                    visibility: visible;
                }
                .share_logo{
                    transform: scale(1.2);
                }
            }
            .share_bar {
                display: flex;
                justify-content: end;
                width: 15em;
                height: 3em;
                background-color: $DesaturatedDarkBlue;
                position: absolute;
                top: 45%;
                left: 75%;
                border-radius: 1em;
                box-shadow: 8px 10px 15px 0px hsl(216, 23%, 23%);
                visibility: hidden;
                transition: visibility 0.5s ease;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border: 20px solid transparent;
                    border-top-color: $DesaturatedDarkBlue;
                    border-bottom: 0;
                    border-left: 0;
                    margin-left: -10px;
                    margin-bottom: -20px;
                }

                h2 {
                    font-weight: 100;
                    position: relative;
                    top: 0.3em;
                    left: -1.5em;
                    color: white;
                    font-size: 2em;
                    font-weight: 100;
                    font-family: monospace;
                }
                button {
                    background-color: transparent;
                    width: 10%;
                    height: 50%;
                    border: none;
                    position: relative;
                    top: 1em;
                    margin-right: 0.5em;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
